@import "~bulma/sass/utilities/_all";

$primary: #21BEDA;
$primary-invert: findColorInvert($primary);

$colors: (
  "white": ($white, $black),
  "black": ($black, $white),
  "light": ($light, $light-invert),
  "dark": ($dark, $dark-invert),
  "primary": ($primary, $primary-invert),
  "info": ($info, $info-invert),
  "success": ($success, $success-invert),
  "warning": ($warning, $warning-invert),
  "danger": ($danger, $danger-invert),
);

$background: $black-ter;
$link: $primary;
$link-invert: $primary-invert;
$link-focus-border: $primary;
$link-focus: $white;
$link-active: $white;
$link-visited: $primary;
$link-hover: $primary;
$text: $white-ter;
$text-invert: findColorInvert($text);
$text-strong: $white;
$title-color: $yellow;
$title-strong-color: $yellow;
$subtitle-color: $yellow;
$subtitle-strong-color: $yellow;
$border: $grey-dark;
$content-heading-color: $yellow;
$modal-card-title-color: $content-heading-color;
$modal-background-background-color: rgba($black, 0.2);
$modal-card-body-background-color: $black-ter;
$button-background-color: $black-ter;
$button-disabled-background-color: $black-ter;
$button-disabled-border-color: $grey-light;
$button-color: $grey-lighter;
$label-color: $grey-lighter;

$app-nav-height: 3rem;
